#banner_image {
  background: url("/img/bg-main.jpg") no-repeat center center/cover;
  height: 100vh;
}

#banner_content {
  position: relative;
  max-width: 880px;
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 8%;
  padding-bottom: 8%;
  border-radius: 5px;
}

footer {
  position: fixed;
  padding: 10px 0;
  background-color: #101010;
  color: #9d9d9d;
  bottom: 0;
  width: 100%;
}

a:hover {
  text-decoration: none;
}

i {
  margin-right: 5px;
}

input:focus::placeholder {
  color: transparent;
}
